<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>SmartPoint</title>
		</head>
	<body>

        <h1>Endereço</h1>
        <br/>
        <form>
            <label>Rua</label>
            <input type="text" id="rua" name="rua" placeholder="Exemplo: Av. Alguma coisa"/>
            <br/>
            <label>quadra e lote</label>
            <input type="text" id="quadra" name="quadra" placeholder="Exemplo: quadra numero tal"/>
            <br/>
            <label>numero</label>
            <input type="int" id="numero" name="numero" placeholder="Exemplo: 104"/>
            <br/>
            <label>bairro</label>
            <input type="text" id="bairro" name="bairro" placeholder="Exemplo: centro"/>
            <br/>
            <label >logradouro</label>
            <input type="text" id="logradouro" name="logradouro" placeholder="Exemplo: 75681-624"/>
            <br/>
            <label for="cep">cep</label>
            <input type="text" id="cep" name="cep" placeholder="Exemplo: 74690-000"/>
            <br/>
            <label for="cidade">cidade</label>
            <input type="text" id="cidade" name="cidade" placeholder="Exemplo: Morrinhos"/>
            <br/>
            <input type="button" id="botao" name="botao" value="Enviar"/>
        </form>

	</body>
</html>